<!DOCTYPE html>
<html>
<head>
  <title>Mynewblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main" class="main body">
  	<%= render 'layouts/shared/main_nav' %>
  	<%= render 'layouts/shared/messages' %>
  	<div class="container clearfix">
  	  <%= yield %>
  	</div>
  </div>

</body>
</html>
